    body {
      font-family: 'Monaco', monospace;
      background-color: #1d293f;
      background-image: url(logo_light.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50%;

      color: #abb2bf;
      margin: 0;
      padding: 0;
      display: flex;
      height: 100vh;
    }
    h1 {
      font-size: 3em;
      margin: 0;
      padding: 0;
      color: #61afef;
    }
