<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Boot Thymeleaf Example</title>
    <link rel="stylesheet" href="main.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div id="menu-container"></div>
  <div id="vim-container">
    <!-- <div id="vim-header">Vim-like HTML</div> -->
    <div id="vim-header-sub-main">
        <div id="vim-header-sub1"> 1 [index.txt] +</div>
        <div id="vim-header-sub2"></div>
        <div id="vim-header-sub3">X</div>
    </div>
        <!-- <div id="vim-header-3"></div> -->
    <div id="vim-content">
      <pre >
</head>
<body>
    __      _______ __  __
\ \    / /_   _|  \/  |
 \ \  / /  | | | \  / | VIM - Vi IMproved
  \ \/ /   | | | |\/| | Vim is open source and freely distributable.
   \  /   _| |_| |  | | type  help in terminal for on-line help
    \/   |_____|_|  |_|

<h1 th:text="'Hello FROM KUBERNETES_secondTry , ' + ${name} + '!'"></h1>
    -1 test
    0 test

    1005001 test
    1 Welcome to my personal corner on the web! I'm Mykola Andriichuk and this is my online CV.
    2 Feel free to explore the various sections to get to know more about my professional experiences,
    3 educational background and skills.
    4
    5 In the "About" section, you'll find details about my work history,
    6 education and other relevant information.
    7
    8 Navigate to the "Contact" section if you have any questions or if you'd like to connect.
    9 I'm always open to new opportunities and collaborations.
   10
   11 The "Skills" page provides an overview of my technical skills, including programming languages,
   12 technologies and more.
   13
   14 /* Additionally, check out the "Hobbies" section to discover some of
   15 my personal interests outside of the professional area. */
   16
   17 Feel free to connect with me on LinkedIn, and don't forget to check out my GitHub page for
   18 some of my coding projects.
   19
   20 I hope you enjoy your visit!
   21
   22 In terminal you can try to run some commands, but I steel working with it,
   23 it has some bugs =) You can start with "help" command.
   24 If you want to close terminal, you can use "exit" command.
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~


</body>
</html>
