    body {
      font-family: 'Monaco', monospace;
      background-color: #1d293f;
      color: #abb2bf;
      margin: 0;
      padding: 0;
      display: flex;
      height: 100vh;
    }

    #explorer {
      font-family: 'Monaco', monospace;
      width: 20%;
      background-color: #1e2228;
      padding: 20px;
      box-sizing: border-box;
      overflow-y: auto;
    }
    #explorer li {
      list-style: square;
      color: #dad9e7;
    }

    #explorer a {
        text-decoration: none;
        color: #1b718c;
        transition: color 0.5s ease; /* Add a smooth transition effect on color changes */
      }
      
      #explorer a:hover {
        text-decoration: underline;
        color: #ffffff; /* Change the color on hover */
      }
      #vim-container {
      border: 2px solid #61afef;
      border-radius: 5px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    #vim-header {
      background-color: #1d293f;
      padding: 10px;
      text-align: center;
      color: #61afef;
      font-size: 18px;
    }
    #vim-header-sub-main {
        display: flex;
    }
    #vim-header-sub1 {
        flex: 0 0 25%; 
        font-size: 12px;
        text-align: center;        
    }
    #vim-header-sub2 {
        background-color: #424945;
        flex: 1;
        text-align: right;
    }
    #vim-header-sub3 {
        background-color: #232323;
        flex: 0 0 5%;
        text-align: center;
    }
    #vim-content {
      padding: 20px;
      counter-reset: line-number;
      flex: 1;
      overflow-y: auto;
    }

    #vim-content pre {
      margin: 0;
    }

    #vim-footer-sub-main {
        display: flex;
    }
    #vim-footer-sub1 {
        flex: 0 0 25%; 
        background-color: #61afef;
        color: #1e2228;
        font-size: 14px;
        text-align:center;
    }
    #vim-footer-sub2 {
        background-color: #424945;
        flex: 1;
        text-align: left;
        font-size: small;
        padding-left: 20px;
    }
    #vim-footer-sub3 {
        color: black;
        background-color: #61afef;
        flex: 0 0 5%;
        text-align: center;
    }
    #terminal {
      flex: 0 0 30%;
      overflow: hidden;
      padding: 20px;
      display: flex;
      flex-direction: column;
      font-size: 14px;
      line-height: 1.5;
      background-color: black;
    }

    #output {
      white-space: pre-wrap;
      flex: 1;
      overflow-y: auto;
      margin-bottom: 10px;
      color: #00ff00; /* Green text color for the terminal output */
    }

    #input-container {
      display: flex;
    }

    #input-prefix {
      color: #00ff00;
    }

    #input {
      flex: 1;
      background-color: black;
      color: #00ff00; /* Green text color for the terminal input */
      border: none;
      padding: 5px;
      outline: none;
      font-family: 'Monaco', monospace;
    }

    #input:focus {
      outline: none;
    }

    #input-btn {
      background-color: #61afef;
      color: black;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }
    @media only screen and (max-width: 600px) {
      header h1 {
        font-size: 1.5em;
      }
    #terminal{
        display: none;
    }
      nav ul {
        flex-direction: column;
      }
    
      nav li {
        margin-bottom: 10px;
      }
    
      main p {
        font-size: 0.9em;
      }
    
      iframe {
        height: 300px; /* Adjust the height as needed for mobile devices */
      }
    }
    .badge {
      display: inline-block;
      margin: 4px;
  }
  .box {
    display: block;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Transition over 1 second */
}
.button-container {
  position: relative;
  display: inline-block;
  padding: 40px 100px;
  background-color: #0074cc;
  color: #fff;
  font-size: 16px;
  cursor: pointer; /* Set the cursor to pointer */
  border-radius: 5px;
  overflow: hidden;
  transition: background-color 0.3s; /* Optional: Add a smooth transition effect */
}

.button-container:hover {
  background-color: #005ea2; /* Change background color on hover */
}

.gif {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* pointer-events: none; */
}